@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
    color:black;
    margin:0px;
    font-family:'Nunito';
}
button{
    border-radius:25px;
    color: white;
    text-align: center;
    cursor:pointer;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Primeira parte do site*/
.first{
    padding:2% 12%;
    text-align:center;
}
.logo-first{
    float:left;
    padding:7px 0;
    height:40px;
}
.login-first{
    font-weight: bold;
    padding: 15px 32px;
    float:right;
    border:none;
    background-color:#0a6ead;
}
.signup-first{
    padding: 15px 40px;
    font-size:0.85em;
    position:relative;
    font-weight: bold;
    background-color:#0a6ead;
    border:none;
    color:white;
    margin-top:20px;
}
.learnmore-first{
    padding: 10px 25px;
    background-color:white;
    border-color:#999;
    color:gray;
}
.first-column{
    text-align:center;
    margin-top:85px;
    font-weight: bold;
}
.main-text-first{
    text-align:center;
    color:#0a6ead;
    font-size:3.2rem;
}
.sub-text-first{
    text-align:center;
    color:grey;
    font-size:1.5rem;
}
/*Bloco azul pra baixo*/

 .second{
    width:100%;
    background-color:#0a6ead;
    color:white;
    text-align:center;
}
.second-content{
    padding:100px 10% 50px 10%;
}
.second-title{
    font-weight: bold;
    font-size:3.5rem;
    margin-bottom:20px;
}
.second-sub-text{
    font-size:1.3rem;
}
.second-columns{
    margin:2% 1%;
    border-radius:7px;
    width:29%;
    display:inline-block;
    text-align:center;
    background-color:white;
    color:gray;
    vertical-align: top;
}
.second-columns-content{
    padding:7% 5%
}
.second-columns-title{
    font-size:2.3vw;
    font-weight:bold;
    text-align:center;
    color:	#0a6ead;
    margin:3% 0 7% 0;
}
@media screen and (max-width: 767px)
{
    .second-columns{
        width:100%;
    }
    .second-columns-title{
        font-size:4vw;
    }
}

 /*Popup para fazer login*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

 /* Modal Content */
.modal-content-log {
    background-color: #fefefe;
    margin: auto;
    padding:1%;
    border: 1px solid #888;
    width: 24%;
    border-radius:10px;
}
.modal-content-sign {
    background-color: #fefefe;
    margin: auto;
    padding:1%;
    border: 1px solid #888;
    width: 24%;
    border-radius:10px;
}
@media screen and (max-width:1200px ){
    .modal-content-log,.modal-content-sign{
        width:35%;
    }
}
@media screen and (max-width: 1050px){
    .modal-content-log,.modal-content-sign{
        width:50%;
    }

 }
@media screen and (max-width: 767px){
    .modal-content-log,.modal-content-sign{
        width:80%;
    }
}


 /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

 .close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Editando o form*/
@import "http://fonts.googleapis.com/css?family=Raleway";
#abc,#abc1{
    color:black;
    font:Nunito;
    width:100%;
}
.meuh2 {
    display: block;
    font-size: 2.5vw;
    font-weight: bold;
    padding:10px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}
hr {
    /*margin:10px -50px;
    border:0;
    border-top:1px solid #ccc*/
}
#submit-form1 {
    text-decoration:none;
    width:60%;
    margin-left:20%;
    margin-right:20%;
    text-align:center;
    display:block;
    background-color:#0a6ead;
    color:#fff;
    border:none;
    padding:10px 0;
    font-weight: bold;
    font-size:1.3vw;
    cursor:pointer;
    margin-top:7px;
    border-radius:5px;
    margin-bottom:7px;
}
#submit-form {
    text-decoration:none;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    text-align:center;
    display:block;
    background-color:#0a6ead;
    color:#fff;
    border:none;
    padding:15px 0;
    font-weight: bold;
    font-size:1.3vw;
    cursor:pointer;
    margin-top:7px;
    border-radius:5px;
    margin-bottom:7px;
}
#submit-form:hover,#submit-form1:hover {
    background-color:#771b84;
}
input[type=text], select,input[type=password], input[type=number] {
    width: 85%;
    padding: 9px 20px;
    margin:6px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1.1vw;
    box-sizing: border-box;
    background-color:rgba(0,0,0,0);
    color:gray;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type=submit] {
    width: 100%;
    font-weight: bold;
    font-family: Nunito;
    color: #fff;
    font-size: 1.4vw;
    padding: 0.67rem 1.56rem;
    border-radius: 0.44rem;
    cursor: pointer;
}
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

 input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

 .group        {
    position:relative;
    margin-top:6px;
}
.input         {
    padding:10px 10px 10px 5px;
    display:block;
    border:none;
    border-bottom:1px solid #757575;
}
.input:focus     { outline:none; }

 .label {
    color:#999;
    font-size:1.4vw;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:35px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.input:focus ~ .label, .input:valid ~ .label {
    top:-12px;
    font-size:1.1vw;
    color:gray;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus{
    width: 85%;
    background-color:rgba(0,0,0,0);
    padding: 9px 20px;
    margin:6px 0;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 1.1vw;
    box-sizing: border-box;
    color:gray;
}
@media screen and (max-width:1200px ){
    input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type=text], select,input[type=password], input[type=number]{
        font-size:1.3vw;
    }
    .input:focus ~ .label, .input:valid ~ .label {
        font-size:1.3vw;
    }
    input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type=text], select,input[type=password], input[type=number]{
        font-size:1.3vw;
    }
    .meuh2{
        font-size:2.6vw;
    }
    #submit-form,#submit-form1{
        font-size:2vw;
    }
    .label{
        font-size:2vw;
    }
}
@media screen and (max-width:1050px){
    input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type=text], select,input[type=password], input[type=number]{
        font-size:2vw;
    }
    .input:focus ~ .label, .input:valid ~ .label {
        font-size:2vw;
    }
    input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type=text], select,input[type=password], input[type=number]{
        font-size:2vw;
    }
    .meuh2{
        font-size:4vw;
    }
    #submit-form,#submit-form1{
        font-size:2.5vw;
    }
    .label{
        font-size:2.5vw;
    }
}
@media screen and (max-width:767px ){
    .input:focus ~ .label, .input:valid ~ .label {
        font-size:3.5vw;
    }
    input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type=text], select,input[type=password], input[type=number]{
        font-size:3.5vw;
    }
    .meuh2{
        font-size:7vw;
    }
    #submit-form,#submit-form1{
        font-size:4vw;
    }
    .label{
        font-size:4vw;
    }
}